# Ignore .idea folder
.idea/

# Ignore .log files
*.log

# Ignore secret_config.py
.DS_Store

# Ignore INT
ALE_Parser_INT.py
ALE_Parser_INT2.py
ALE_Parser_INT3.py

# Ignore BU
ALE_Parser_BU1.py

# Ignore Test-Files
Test-Files/

imp_test.py
modul_test1.py
modul_test2.py
modul_test3.py
singlecheck1.py
check_char_perline.py




