# Ignore .idea folder
.idea/

# Ignore .log files
*.log

# Ignore secret_config.py
.DS_Store

# Ignore INT
ALE_Parser_INT.py
ALE_Parser_INT2.py

# Ignore Test-Files
Test-Files/

# Ignore Testfiles
imp_test.py
modul_test1.py




